* {
    box-sizing: border-box;
    margin: 0;
}
.Title{
    background-color: cadetblue;
    color: white;
    padding: 5px;
}

.Navigation{
    background-color: cadetblue;
    color: white;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
